body{
    font-family: 'Niramit', sans-serif;
    margin: 0 auto;
    padding: 0 auto;
}

.form-container{
    position: absolute;
    width: 700px;
    height: 500px;
    margin-top: 30px;
 
}
h3{

font-family: 'Niramit';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;
padding-left: 80px;
color: #13A89E;
}

#inputName{
  
    background: #FFFFFF;
    border: 0.5px solid #13A89E;
    box-sizing: border-box;
    border-radius: 15px 15px 0px 0px;
    font-family: 'Niramit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: #6D6E71;
}
#inputEmail{

    background: #FFFFFF;
    border: 0.5px solid #13A89E;
    box-sizing: border-box;
    border-radius: 0px;
    font-family: 'Niramit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: #6D6E71;
}
#SelectDate{
    background: #FFFFFF;
    border: 0.5px solid #13A89E;
    box-sizing: border-box;
    border-radius: 0px;
    font-family: 'Niramit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: #6D6E71;
}

#inputNumber{

    background: #FFFFFF;
    border: 0.5px solid #13A89E;
    box-sizing: border-box;
    border-radius: 0px;
    font-family: 'Niramit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: #6D6E71;
}
.labels{
   color: rgb(18, 18, 19);
   font-family: 'Niramit';
    font-style: normal;
    font-weight: bolder;
    font-size: 18px; 
}

#message-area{
    background: #FFFFFF;
    border: 0.5px solid #13A89E;
    box-sizing: border-box;
    border-radius: 0px;
    font-family: 'Niramit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: #6D6E71;
}

#submit-btn{
    background: #13A89E;
    border-radius: 0px 0px 15px 15px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    }